@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
$background-color: #f6be37;
$red-color: #e6272d;
$font: 'Poppins', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
}

body {
  background-color: $background-color;
}

.content {
  width: 100%;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 75px;
}

.nav-option {
  font-size: 15px;
  color: white;
  margin: 20px;
  cursor: pointer;
  font-weight: bold;
}

.nav-active {
  color: $red-color;
}

.home-jumbotron {
  margin-top: 75px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.home-jumbotron-text {
  width: 40%;
  color: white;
}

.home-jumbotron-title {
  font-size: 75px;
}

.home-jumbotron-img {
  width: 40%;
}
